{% load static %}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'styles/events.css' %}">
    <meta charset="utf-8" />
    <!--<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>-->
</head>
<body>
    <aside class="sticky">
        <div>
        <figure>
            <figcaption>Onyx.</figcaption>
        </figure>
        </div>
        <div>
        <nav >
            <ul>
                <li ><a href="">Calendar</a></li>
                <li><a href=""  class="active">Statistics</a></li>
                <li><a href="tt" >Events</a></li>
            </ul>
        </nav>
        </div>
    </aside>
    <div class="bar">
    {{username}}
    </div>
    <main>
        {% for sem in sems %}
        <div class="banner">
            <h3>{{sem.name}}</h3>
            <h6>{{sem.start_date}} - {{sem.last_date}}</h6>
        </div>
        <div class="info">
        {% for sub in subs %}
        {% if sub.semester.id == sem.id %} 
        <div class="subinfo">
            <div class="subname">{{sub.name}}<br></div>
            Present: {{sub.lec_present}}<br>
            Absent:{{sub.lec_absent}}<br>
            Cancelled: {{sub.lec_cancelled}}
            <h2>
            {{sub.attendance}}%
            </h2>
        </div>
        {% endif %}
        {% endfor %}  
        </div>      
        {% endfor %}
    </main>
</body>
</html>