{% extends 'base.html' %}
{% load static %}
{% block csscontent %}
    <link rel="stylesheet" href="{% static '/styles/myelegant.css' %}">
    {% endblock csscontent %}
    {% block content %}
    <div class="tabs">
        <div class="tab" id="current"><i class="far fa-calendar"></i></div>
        <div class="tab"><i class="fas fa-chart-line"></i></div>
        <div class="tab"><i class="fas fa-clipboard-list"></i></div>
    </div>
    <div class="elegant-calendar">
    <div class="float">
    <button id="myBtn" class="add">+</button>
    </div>
        <div d="header" class="clearfix">
           <div class="head-container">
                <div class="head-info">
                    <div class="head-day">{{date}}</div>
                    <div class="head-month">{{month_name}},{{year}}</div>
                </div>
           </div>
           {% with premonth=month|add:"-1" %}
           {% with preyear=year|add:"-1" %}
           {% if month > 1 %}
                <form action="{% url 'seminfo:calendar' date=1 month=premonth year=year %}">
            {% else %}
                <form action="{% url 'seminfo:calendar' date=1 month=12 year=preyear %}">
            {% endif %}
            <button class="pre-button"><</button>
            </form>
            {% endwith %}
            {% endwith %}
            {% with postmonth=month|add:"1" %}
            {% with postyear=year|add:"1" %}
            {% if month < 12 %}
                <form action="{% url 'seminfo:calendar' date=1 month=postmonth year=year %}">
            {% else %}
                <form action="{% url 'seminfo:calendar' date=1 month=1 year=postyear %}">
            {% endif %}
            <button class="next-button">></button>
            </form>
            {% endwith %}
            {% endwith %}
        </div>
        <table id="calendar" class="thead">
            <thead>
                <tr class="tableheader">
                    <div><th>Mon</th></div>
                    <div><th>Tue</th></div>
                    <div><th>Wed</th></div>
                    <div><th>Thu</th></div>
                    <div><th>Fri</th></div>
                    <div><th>Sat</th></div>
                    <div><th>Sun</th></div>
                </tr>
            </thead>
        <table>
        <table class="dates">
            <tbody>
                <tr class="datecolumn">
                    {% for j in gaps %}
                        <div><td></td></div>
                    {% endfor %}
                    {% for j in dates %}
                        <div>
                            <td 
                                {% if j == today_day and month == today_month and year == today_year and j == date %}         id="today" 
                                {% elif j == today_day and month == today_month and year == today_year %} id="today_default"
                                {% elif j == date %} 
                                    class="selected"  
                                {% endif %}
                            >
                                <a 
                                    {% if j == today_day and month == today_month and year == today_year %}     
                                        style="color:white"
                                    {% endif %} 
                                    href="{% url 'seminfo:calendar' date=j month=month year=year %}"
                                >
                                    {{j}}
                                </a>
                            </td>
                        </div>
                    {% endfor %}
                </tr>   
            </tbody>
        </table>
        <object align="right">
            <form action="{% url 'seminfo:calendarview'%}">
                <button id="reset">Go  to today</button>
            </form>
       </object>
       {% if lectures %}
            {% for lec in lectures %}
                {% if lec.status == '0' %}
                    <div class="panel">
                        <form method="post" method="post">
                            {% csrf_token %}
                                <input type="hidden" name="id" value="{{lec.id}}"></input>
                                <div class="pname">
                                    {{lec.subject.name}}
                                </div>
                                <div class="options">
                                    <input type="radio" name="status" value="P"> Present<br>
                                    <input type="radio" name="status" value="A"> Absent<br>
                                    <input type="radio" name="status" value="C"> Cancelled<br>
                                </div> 
                                <input id="reset" class="submit" type="submit" name="{{lec.id}}">
                        </form>
                    </div>
                    {% else %}
                    {% if lec.status == 'P' %}
                    <div class="panel green">
                        <div class="pname">{{lec.subject.name}}
                            </div>
                            <div class="option green bold"><i class="fa fa-check-circle green" aria-hidden="true"></i> Present</div>
                </div>
                        {% elif lec.status == 'A' %}
                    <div class="panel red">
                        <div class="pname">{{lec.subject.name}}
                        </div><div class="option red bold"><i class="fa fa-times-circle red" aria-hidden="true"></i>Absent</div>
                </div>
                        {% elif lec.status == 'C' %}
                    <div class="panel grey">
                        <div class="pname">{{lec.subject.name}}
                        </div>
                            <div class="option grey bold"><i class="fa fa-ban grey" aria-hidden="true"></i>Cancelled</div>
                </div>
                        {% endif %}
                    {% endif %}
            {% endfor %}
        {% else %}
            You have no lectures today
        {% endif %}
        <div id="myModal" class="modal">
            <div class="modal-content">
    <span class="close">&times;</span>
    <div class="pname">Add Lecture</div>
    <form method="POST">
    {% csrf_token %}
    <div class="row">
    <div class="key">Subject</div>
    <div class="value"><select  class = "options" name="new_lec">
                    <option hidden diasabled value=""></option>
                    {% for s in subs %}
                    <option value="{{s.id}}">{{s.name}}</option>
                    {% endfor %}
    </select>
    </div>
    <div class="key"> Date of lecture</div>
    <div class="value">
    <input type="date" name="lec_date" value="{{y}}-{{m}}-{{d}}">
    </div>
    </div>
    <input id="reset" class="sub" type="submit">
    </form>
  </div>

</div>
    {% endblock content %}
    {% block scripts %}
    <script>
        var modal = document.getElementById("myModal");

        var btn = document.getElementById("myBtn");


        var span = document.getElementsByClassName("close")[0];

        btn.onclick = function() {
        modal.style.display = "block";
        }

        span.onclick = function() {
        modal.style.display = "none";
        }

        window.onclick = function(event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
        }
</script>

    {% endblock scripts %}