
  <!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <script src="https://kit.fontawesome.com/ee42aa8718.js"></script>
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="base.css"/><link rel="stylesheet" href="add_sub.css">
    <script src="main.js"></script>
</head>
<body>  
    <div class="panel">    
        <div class="subject">
            {{s.name}} 
        <a href="{% url 'seminfo:delete_subject' id=s.id %}">
        <i class="fas fa-minus" id="min"></i></a>
        </div>   
        <div class="subject">
                {{s.name}} 
            <a href="{% url 'seminfo:delete_subject' id=s.id %}">
            <i class="fas fa-minus" id="min"></i></a>
            </div>    
            <div class="subject">
                {{s.name
            <a href="{% url 'seminfo:delete_subject' id=s.id %}">
            <i class="fas fa-minus" id="min"></i></a>
            </div>    
            <div class="subject">
                {{s.name}} 
            <a href="{% url 'seminfo:delete_subject' id=s.id %}">
            <i class="fas fa-minus" id="min"></i></a>
            </div> 
    </div> 
    <form method="post">
        <div class="searchbox">
            <input type="text" name="subject_name" placeholder="Enter Subject">
            <div class="outer">
                <input name="add" id="reset" class="button" type="submit" value="Add">
            </div>
    </div>
    </form>
    
    <div class="wrapper">
            <input type="submit" value="Next"></input>
        </div>