
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,600i&display=swap');

header {
    font-family: 'Montserrat','sans-serif';
    font-weight: bold;
    font-size: 48px;
    margin: 20px
}
body {
    font-family: sans-serif;
    background: rgb(239, 239, 240);
}.button-pri{
    position: absolute;
    top:80%;
    left: 60%;
     text-align: center;
    height: 20px;
    width: 50px;
    display: inline-block;
    padding: 10px 20px;
    margin: 30px;
    font-size: 20px;
    border-radius: 10px;
    color: white;
    letter-spacing: 0.5px;
    text-transform: capitalize;
   /* background: rgb(8,111,187);
    background: linear-gradient(270deg, rgba(8,111,187,1) 0%, rgba(83,216,243,1) 100%);*/
    background: rgb(61, 157, 226);/*
background: linear-gradient(270deg, rgba(59,147,212,1) 0%, rgba(80,177,220,1) 49%, rgba(83,216,243,1) 100%);
    -webkit-box-shadow: 7px 6px 16px -1px rgba(62,107,162,0.37);    
    box-shadow: 7px 6px 16px -1px rgba(62,107,162,0.37);*/

 border-bottom: 5px solid #2980B9;
 text-shadow: 0px -2px #2980B9;
    
}

.button-pri-2{

    text-align: center;
    height: 20px;
    width: 50px;
    display: inline-block;
    padding: 10px 20px;
    margin: 30px;
    font-size: 20px;
    border-radius: 10px;
    color: white;
    letter-spacing: 0.5px;
    text-transform: capitalize;
   /* background: rgb(8,111,187);
    background: linear-gradient(270deg, rgba(8,111,187,1) 0%, rgba(83,216,243,1) 100%);*/
    background: rgb(61, 157, 226);/*
background: linear-gradient(270deg, rgba(59,147,212,1) 0%, rgba(80,177,220,1) 49%, rgba(83,216,243,1) 100%);
    -webkit-box-shadow: 7px 6px 16px -1px rgba(62,107,162,0.37);    
    box-shadow: 7px 6px 16px -1px rgba(62,107,162,0.37);*/

 border-bottom: 5px solid #2980B9;
 text-shadow: 0px -2px #2980B9;
    
}

.button{
    display: inline-block;
    margin: 0;
    padding: 10px 20px;
    font-size: 10px;
    border-radius: 30px;
    color: white;
    letter-spacing: 0.5px;
    text-transform: capitalize;
    text-transform: uppercase;
    background: rgb(241,156,50);
background: linear-gradient(270deg, rgba(241,156,50,1) 0%, rgba(243,181,65,1) 49%, rgba(243,230,83,1) 100%);
    

}
.searchbox{

    background: #fff;
    border-radius: 30px;
    padding: 0px 0px;
    display: inline-block;

} 

.searchbox input{
    margin: 0px 10px;
background:rgba(255,85, 15, 0);
border: 0;
}
.searchbox input[type="text"],textarea,select{
outline: none;
}
::placeholder{
    color:darkgray;
}
.vline {
    border-right: 1px solid #97ad99; /* Border on the left */
    width: 1px; /* Width instead of height */
    height: 25px;
    display: inline-block

}
.info{
    margin: 5px;
    display: inline-block;
    border-bottom: 1px solid rgba(255, 255, 255, 0.226);
    font-size: 10px;
    padding: 0px 5px;
    color: darkgrey;
    background:rgba(239, 239, 240,0);
}
.info p{
    font-size: 15px;
    font-style: italic;
    padding: 0px 5px;
    margin: 2px;
}
.banner{
    padding: 30px 20px;
    margin: 10px;
    font-size: 30px;
    border-radius: 15px;
    color: white;
    letter-spacing: 0.5px;
    text-transform:capitalize;
    background: rgb(248,171,164);
    background: linear-gradient(90deg, rgba(248,171,164,1) 0%, rgba(244,124,163,1) 87%, rgba(243,127,164,1) 100%);
    -webkit-box-shadow: -10px 0px 13px -7px #5e5d5dc4, 10px 0px 13px -7px #615c5c, 1px 2px 6px 34px rgba(163,163,163,0.06); 
    box-shadow: -10px 0px 13px -7px #5a5656, 10px 0px 13px -7px #969191, 1px 2px 6px 34px rgba(163,163,163,0.06);
    text-align: center;
}

.button-sec{
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    font-size: 10px;
    border-style: solid;
    border-width: 1.5px;
    border-radius:30px;
    border-color:rgb(72, 161, 224);
    color:rgb(45, 139, 206);
    letter-spacing: 0.5px;
    text-transform: capitalize;
    background: rgba(248, 245, 245, 0.733);
    -webkit-box-shadow: 7px 6px 16px -1px rgba(62,107,162,0.37);    
    box-shadow: 7px 6px 16px -1px rgba(62,107,162,0.37);
  
}

.panel{
    margin: 7px;
    border:none;
    font-style: italic;
    border-radius:5px;
    background: #fff;
    display: inline-block;
    text-align: left;
    padding: 5px 5px;
    letter-spacing: 0.5px;
    font: size 15px;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 25px 25px 5px -13px rgba(162,162,162,0.12); 
    box-shadow: 0px 10px 13px -7px #000000, 25px 25px 5px -13px rgba(162,162,162,0.12);
}
.panel h4{
    font-style:oblique;
    padding: 5px 10px;
    font-size: 20px;
    text-transform:uppercase;
}

.days{

        display: inline-block;
        padding: 10px 20px;
        margin: 5px;
        font-size: 10px;
        border-radius: 5px;
        color: white;
        letter-spacing: 0.5px;
        text-transform: capitalize;
       /* background: rgb(197,191,211);
        background: linear-gradient(90deg, rgba(197,191,211,1) 0%, rgba(203,166,223,1) 100%);*/
        background: rgb(238,207,247);
        background: linear-gradient(90deg, rgba(238,207,247,1) 0%, rgba(235,185,249,1) 31%, rgba(230,156,252,1) 72%, rgba(225,152,247,1) 99%, rgba(217,123,244,1) 100%);
    
}

.tag{
    background: rgba(105, 105, 107, 0);
    border-radius: 3px;
    padding: 5px 10px;
    display: inline-block;
    color: #fff;
}
.suptag{
    margin: 5px;
    background:darkgray;
    display: inline-block; 
}

 .suptag img{
    
    height:20px;
    width: 20px;
 }

 body {
    background: rgb(238, 238, 238);
    margin: 0;
    font-family: sans-serif;
}

.navbar {
    margin: 0px 0px;
    padding: 5px 10px;
    height: 80px;
    background: rgb(255, 255, 255);
    display: grid;
    grid-template-columns: auto 60px;
    vertical-align: bottom;
}

.menu-icon {
    margin: 25px 15px;
    width: 25px;
    cursor: pointer;
}

.logo {
    margin: 2px 15px;
    height: 70px;
}

nav {
    display: none;
}
.active {
    display: block;
    background: rgb(255, 255, 255);
    position: absolute;
    height: 100%;
    width: 80%;
    -webkit-box-shadow: 10px 10px 20px 6px rgba(0,0,0,0.45);
    -moz-box-shadow: 10px 10px 20px 6px rgba(0,0,0,0.45);
    box-shadow: 10px 10px 20px 6px rgba(0,0,0,0.2);
}

.user-info {
    display: grid;
    grid-template-columns: 120px auto;
}

.name {
    padding: 52px 0px;
    margin: 0px;
    font-size: 30px;
}
.avatar {
    width: 75px;
    border-radius: 50%;
    margin: 15px 15px;
    border-width: 5px;
    border-style: solid;
    border-color: white;-webkit-box-shadow: 10px 10px 20px 6px rgba(0,0,0,0.45);
    -moz-box-shadow: 10px 10px 20px 6px rgba(0,0,0,0.45);
    box-shadow: 3px 3px 1px 1px rgba(0,0,0,0.2);
}

ul {
    list-style:none;
}
li {
    padding: 10px 0px;
    display: inline-block;
}

ul li a {
    text-decoration: none;
    color: black;
    padding: 10px 0px;
}

hr {
    margin: 0px 25px;
}

i {
    display: inline-block;
    padding: 10px;
    color: rgb(0, 162, 255);
}

img.avatar:hover {
    background:rgba(0,0,0,0.6);
    opacity: 1;
}
.scrolling-wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    margin: 20px 0px;
    padding: 0px 10px;
}
.card {
    display: inline-block;
    padding: 0px 0px;
    margin: 0px 0px;
    width: 100px;
}

.day {
    font-size: 20px;
    text-align: center;
    background: black;
    margin: 10px 0;
    padding: 10px 10px;
    border-radius: 30px;
    color: white;
}

.options {
    display: block;
    width: 100%;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 700;
    color: #444;
    line-height: 1.3;
    padding: .6em 1.4em .5em .8em;
    width: 100%;
    max-width: 100%; 
    box-sizing: border-box;
    margin: 0px;
    border: 0px solid #aaa;
    /*box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
    border-radius: .5em;*/
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: white;
    background-image: url(dropdown.svg);
    background-repeat: no-repeat, repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: .65em auto, 100%;
}

option  {
    width: 50%;
}

